  <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
   <div class="modal fade emp" id="edit_task" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                             <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h3 class="modal-title" id="lineModalLabel">Edit Employee</h3>
                                </div>
                                <div class="modal-body">
                                    
                                    <!-- content goes here -->
                                   <form name="frmEmployees" class="form-horizontal" novalidate="">

                                        <div class="form-group">
                                            <label for="exampleInputName">Name</label>
                                            <input type="text" id="name" name="name"  value="{{employees.name}}" ng-model="employee.name" ng-required="true"  class="form-control"  placeholder="Enter Name">
                                       </div>

                                      <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" id="email" name="email" value="{{employees.email}}" ng-model="employee.email" ng-required="true" class="form-control"  placeholder="Enter email">
                                      </div>

                                      <div class="form-group">
                                            <label for="exampleInputContact">Contact No</label>
                                            <input type="text" class="form-control" id="contact_number" name="contact_number"  value="{{employees.contact_number}}" ng-model="employee.contact_number" ng-required="true" placeholder="Contact No">
                                      </div>

                                       <div class="form-group">
                                            <label for="exampleInputContact">Position</label>
                                            <input type="text" class="form-control" id="position" name="position"  value="{{employees.position}}" ng-model="employee.position" ng-required="true" placeholder="Position">
                                      </div>
                                      <button type="submit" class="btn btn-default" ng-click="update(employee.id)">Submit</button>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                                        </div>
                                </div>
                    </div>
                  </div>
  </div>
</body>
</html>